.stylistImage {
  width: 200px;
  height: 200px;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.landing {
  background-image: url("https://images.pexels.com/photos/3037244/pexels-photo-3037244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
